#navbar {
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 16px;
}

#navbar a {
    color: white;
    text-decoration: none;
}


#navbar ul {
    display: flex;
    ;
    list-style: none;
    align-items: center;
    }
    #navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #ff0000;
    border-radius: 5px;
}
h1  {
    color: black;
    text-align: center;
}

 body {
 background-color: lightgray;
 }
 .container {
 background-color: white;
 max-width: 1000px;
 border-radius: 15px;
 box-shadow: rgba(0, 0, 0, 0.35)
 0px 5px 15px;
 margin: 10px auto;
 padding: 5px 30px;
 }