#navbar {
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 16px;
}

#navbar a {
    color: white;
    text-decoration: none;
}


#navbar ul {
    display: flex;
    ;
    list-style: none;
    align-items: center;
    }
    #navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #ff0000;
    border-radius: 5px;
}
h1  {
    color: rgb(255, 255, 255);
    text-align: center;
}

 body {
 background-color: lightgray;
 }
 .container {
 background-color: rgb(255, 255, 255);
 max-width: 1000px;
 border-radius: 15px;
 box-shadow: rgba(245, 245, 245, 0.35)
 0px 5px 15px;
 margin: 120px auto;
 text-align: center;
 }

input[type="text"] {
    width: 90%;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 25px;
    outline: none;
    margin-bottom: 15px;
    
}
 .big {
    font-size: 3rem;
    font-weight: bold;
}
#navbar ul li a i {
  margin-right: 0.5rem;
}
 
@media (max-width: 37.5rem) {
  #navbar ul li a {
    font-size: 0; /* skryje text */
  }
 
  #navbar ul li a i {
    font-size: 1.5rem;
    margin: 0 0.625rem;
  }
 
  #navbar ul {
    gap: 1.25rem;
  }
}






@media(max-width:500px) {
    body {
        background-color: red;
    }

    #smartphone {
        display: block;
    }
}
@media(min-width: 501px) and (max-width:768px) {
    body {
        background-color: green;
    }

    #tablet {
        display: block;
    }
}
@media(min-width: 769px) and (max-width:1200px) {
    body {
        background-color: cyan;
    }

    #normal {
        display: block;
    }
}
@media(min-width: 1201px) {
    body {
        background-color: rgb(145, 141, 141);
    }

    #widescreen {
        display: block;
    }
}
@media(max-height: 500px) {
    body {
        background-color: orange;
    }

    #landscape {
        display: block;
    }
}